$Black: hsl(0, 0%, 0%);
$Very-Dark-Gray: hsl(0, 0%, 17%);
$Dark-Gray: hsl(0, 0%, 59%);
$Error: hsl(0, 100%, 67%);
$Light-Error: hsl(0, 100%, 85%);
$White: hsl(0, 0%, 100%);

@mixin mq($size) {
  @media (min-width: $size) {
    @content;
  }
}
@mixin hr {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: $Dark-Gray;
}
@mixin bar {
  position: absolute;
  content: '';
  top: 10px;
  left: 50%;
  width: 75px;
  height: 4px;
  border-radius: 50px;
}
@keyframes slide {
  0% {
    transform: translate(-50%, 200%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}
@keyframes progress {
  0% {
    transform: translateX(-50%) scaleX(0);
  }
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}
