@use './abstracts' as *;
@use './modal' as *;
@use './loader' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.header {
  background-image: url('../../images/pattern-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-basis: 100%;
  max-height: 300px;
  @include mq(720px) {
    max-height: 250px;
  }
  @include mq(1200px) {
    max-height: 230px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.main__title {
  color: $White;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0.8em 0;
}
.form {
  width: 100%;
  display: flex;
  max-width: 550px;
  position: relative;
  &__input {
    flex-basis: 85%;
    font-size: 18px;
    padding: 1em;
    border: none;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    &::placeholder {
      color: $Dark-Gray;
      font-weight: 400;
      font-size: 0.9rem;
      @include mq(450px) {
        font-size: inherit;
      }
    }
  }
  &__submit {
    flex-basis: 15%;
    background-color: $Black;
    border: none;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $Very-Dark-Gray;
    }
  }
}
.main__modal {
  z-index: 6;
  display: none;
  margin-top: 2em;
  background-color: $White;
  width: 100%;
  max-width: 1200px;
  border-radius: 15px;
  padding: 1em 0;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  &--active {
    display: grid;
  }
  @include mq(720px) {
    pointer-events: none;
    grid-template-columns: 1fr 1fr;
  }
  @include mq(1200px) {
    grid-template-columns: repeat(4, 25%);
  }
}
.modal__section {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0.5em 2em 0;
  height: 100%;
  align-self: start;
  position: relative;
  @include mq(720px) {
    &:nth-child(odd)::after {
      @include hr;
    }
  }
  @include mq(1000px) {
    &:not(:last-child)::after {
      @include hr;
    }
  }
}
.main__modal--short {
  .modal__section {
    &:not(:first-child) {
      display: none;
      @include mq(720px) {
        display: grid;
      }
    }
  }
}
.section__title {
  font-size: 0.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $Dark-Gray;
}
.section__data {
  margin: 0.4em 0;
  font-size: 1.2rem;
  font-weight: 500;
}

// map

.map {
  flex-basis: 100%;
  z-index: 1;
  @include mq(720px) {
    height: 100%;
  }
}
